<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643588058652-7rgchfshpd88rp7qplea8a68ae6fu4vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643588058652-7rgchfshpd88rp7qplea8a68ae6fu4vt</string>
	<key>API_KEY</key>
	<string>AIzaSyDuUcM52MVCWqSUj69XATigHlHHmqaCA2U</string>
	<key>GCM_SENDER_ID</key>
	<string>643588058652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gosu1902.AppCommonServices</string>
	<key>PROJECT_ID</key>
	<string>appcommonservices</string>
	<key>STORAGE_BUCKET</key>
	<string>appcommonservices.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643588058652:ios:43c96b997b2af292a539d9</string>
</dict>
</plist>